/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
	font-family: 'Pangolin', cursive;
}

body, html {
	height: 100%;
}


/* no break */
.nobr {
    white-space: nowrap;
}

img {
    width: 100%;
    display: block;
}

/* clearfix - in case you decide to float elements */
.group::after {
  content: "";
  display: table;
  clear: both;
}

.container {
}



/* MEDIA QUERIES */
/* X-Small devices (portait phones, less than 576px) */
/* All styles up to this point in the stylesheet are for X-Small */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */
}
